*{
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
}

body{
    color: #0d1117;
    background-color: #c9d1d9;
}

header{
    width: 100vw;
    margin: 16px;
}

nav{
    
    width: 90%;
    margin: 1% auto;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #0d1117;
    font-size: 125%;
    margin: 0px 4vw;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: underline;
}

h5{
    color: rgba(0, 0, 0, 0.349);
}

#name-box{
    text-align: center;
    margin-bottom: 10px;
}

.about-container{
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.left-box{
    width: 45%;
    text-align: justify;
    line-height: 190%;
    letter-spacing: 0.5px;
}

.right-box{
    padding: auto;
    background-color: white;
    font-family: serif;
    width: 45%;
    margin-left: 10%;
}

.port{
    margin: 20px;
}

div h4 a{
    text-decoration: none;
    color: #0d1117;
    margin:10px;
}

div h4 a:hover{
    text-decoration: underline;
}

.contact-section{
    width: 100vw;
    height: 20vh;
    background-color: rgb(128, 128, 128);
    text-align: center; 
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
}

.icon{
    margin: 0px 7.5px;
    width: 45px;
}